:root[data-theme="color"] {
    --bg: #e3f6e4; /* #d8f1dd;  средний светлый зелёный фон */
    --fg: #0f2f0f; /* тёмный зелёный текст */
    --accent: #2fa84f; /* насыщенный зелёный акцент */
    --card-bg: #e8f8ea; /* чуть светлее фона */
    --card-border: #b8e2c2; /* мягкая пастельная граница */

    --title-bg: #cfefd5; /* чуть темнее */

    --root-border: 1px solid rgba(142, 142, 142, 0.3);
    --nav-btn-bg: rgba(255, 255, 255, 0.15); /* полупрозрачные */
    --nav-btn-border: rgba(0, 0, 0, 0.15);
    --nav-btn-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    --btn-bg: #2f6f3a; /* насыщенный тёмно‑зелёный */
    --btn-border: #245a2e; /* почти невидимая рамка */
    --btn-fg: #f2f2f2; /* мягкий белый */
    --btn-fg-hover: #fff4c2; /* тёплый желтоватый */

    --button-background-color: #fffce8; /*#efefd3e6;*/
    --button-color: #0f2f0f;
    --input-background: #fffef4;
    --table-bg: #e3f6e4;
    --table-border: 1px solid grey;
    --table-filter: #d6f2d8;
    --table-header-bg: #c9edcd; /*#c7e6cc; #a3cfa8;*/
    --table-header-fg: #0f2f0f;
    --table-row-hover: #e8f8ea;
    --table-divider: 1px solid grey; /* разделители */
    --table-stick: #c9edcd;
    --clickable-row-selected: #d0ebff;
    --tbody-tr-even: #fffce8;
    --tr-active-row: #d0ebff;
    --tr-hover: #d9f0ff;
    --tab-background: #96cc98;
    --tab-background-active: #d0ebff;
    --tab-content-active-border-top: 1px solid #75a6fd;
    --tab-content-active-border-right: 1px solid #75a6fd;
    --tab-content-active-border-left: 1px solid #75a6fd;
    --tab-hover-background: green;
    --tab-hover-color: antiquewhite;
    --dropdown-content: #ffffff;
    --dropdown-content-selected-color: #0077cc;
    --dropdown-content-selected-background: #e6f2ff;
    --dropdown-button-background: #fffce8; /*#efefd3e6;*/
    --dropdown-button-color: black;
    --form-background: #d0ebe2;
    --scroll-bar-track: grey; /*#0077cc #C1121F;*/
    --scroll-bar-color: green; /*#0077cc #C1121F;*/
    --caret-color: green;
    --background-img-url: url(/static/img/bg.jpg);
}

:root[data-theme="dark"] {
    --bg: #262424; /* тёплый графитовый фон */
    --fg: #e8e8e8; /* мягкий светлый текст */
    --accent: #3fbf6b; /* зелёный акцент */
    --card-bg: #302e2e; /* фон карточек */
    --card-border: #4a4747; /* тёплая граница */

    --title-bg: #2f2d2d; /* чуть светлее */

    --nav-btn-bg: rgba(255, 255, 255, 0.08);
    --nav-btn-border: rgba(255, 255, 255, 0.12);
    --nav-btn-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    /* КНОПКИ — вот это тебе нужно */
    --btn-bg: #2f6f3a; /* насыщенный тёмно‑зелёный фон кнопки */
    --btn-fg: #f2f2f2; /* мягкий белый текст */
    --btn-fg-hover: #fff4c2; /* желтоватый текст при наведении */
    --btn-border: #5a5a5a; /* рамка, чтобы кнопка не сливалась */

    --table-bg: #2b2929;
    --table-border: #4a4747;
    --table-header-bg: #343232;
    --table-header-fg: #e8e8e8;
    --table-row-hover: #3a3838;
    --table-divider: #5a5757; /* разделители */

    --tbody-tr-even: #111;
    --tr-hover: #E63946; /*#D62828 */
    --tr-active-row: #0077cc;
    --button-color: #f2f2f2;
    --tab-content-active-border-top: 1px solid #75a6fd;
    --tab-content-active-border-right: 1px solid #75a6fd;
    --tab-content-active-border-left: 1px solid #75a6fd;
    --dropdown-content: #fefefe;
    --dropdown-content-selected-color: #0077cc;
    --dropdown-content-selected-background: #fffce8;
    --dropdown-button-background: #fffce8; /*#efefd3e6;*/
    --dropdown-button-color: black;
    --scroll-bar-track: #c9edcd; /*#0077cc #C1121F;*/
    --scroll-bar-color: green;
    --caret-color: green;
}
:root {
    text-decoration: none;
    /*text-shadow: 1px 2px 3px grey;*/
    border: var(--root-border);
    border-radius: 3px;
}
:root {
    --bg: #000;
    --fg: #fff;
    --accent: #888;
    --card-bg: #111;
    --card-border: #333;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: Calibri;
    overflow: hidden;
    /* overflow: auto; */
}
common-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 7fr;
    grid-template-rows: 44px 44px 1fr 36px;
    grid-gap: 1px;
    grid-template-areas: "header header"
        "nav article_title"
        "nav article"
        "footer footer";
}
nav {
    margin: 0px;
    padding: 1px;
    display: grid;
    grid-template-rows: repeat(12,minmax(48px, 54px));
    grid-row-gap: 2px;
    grid-area: nav; /* задаем имя элемента */
    align-content: stretch;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 2px 3px grey;
    background-image: var(--background-img-url);
}

header {
    display: grid;
    padding-left: 16px;
    grid-template-columns: 3fr 2fr 2fr;
    align-items: center; /* Выравниваем по вертикали*/
    grid-area: header; /* задаем имя элемента */
    background-size: cover;
    background-position: center;
    text-shadow: 1px 2px 3px grey;
    background-image: var(--background-img-url);
}

article {
    grid-area: article; /* задаем имя элемента */

    display: flex;
    flex-direction: column;
    /*min-height: 100%;*/
    min-width: 0;
    min-height: 0;
    border-radius: 3px;
    border: 1px solid rgba(180, 180, 180, 0.3);
}

article_title {
    display: grid; /*Для выравнивания заголовка по центру*/
    padding-right: 8px;
    padding-left: 4px;
    font-size: 20px;
    align-items: center; /* Выравниваем по вертикали*/
    align-items: center; /*Для выравнивания заголовка по центру*/
    grid-area: article_title; /* задаем имя элемента */
    grid-template-columns: 1fr 1fr;
    background: var(--title-bg);
}

footer {
    display: grid;
    padding: 8px 16px;
    align-items: center; /* Выравниваем по вертикали*/
    grid-template-columns: 1fr 6fr;
    grid-area: footer; /* задаем имя элемента */
    background-size: cover;
    background-position: center;
    background-image: var(--background-img-url);
}

header, nav, article_title, article_body, article_info, footer {
    border: 1px solid lightgray;
    border-radius: 4px;
}

footer > .footer-l, header > .header-l,, timer_header > header_c {
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer > footer-r, header > header-r, timer_header > header_r {
    margin-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer > footer-c, header > header-c {
    margin: 4px 24px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: left;
}
nav > a {
    font-size: 18px;
}
.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}
/** {
    transition: background-color .25s ease, color .25s ease, border-color .25s ease;
}
*/
body {
    background: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
}
.theme-toggle {
    background: var(--accent);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}
.card {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

/* Навигационные кнопки */
.nav_button {
    padding: 10px 14px;
    display: flex;
    position: relative;
    min-width: 125px;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    color: var(--button-color);
    border: 1px solid var(--nav-btn-border);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, .5)), linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144, .5) 45%, rgba(121, 219, 144, 0.5)), linear-gradient(to right, rgba(121, 219, 144, 0.3), rgba(121, 219, 144, .5) 0%, rgba(121, 219, 144, 0.5));
    /*background: var(--nav-btn-bg);*/
    box-shadow: 3px 3px 6px grey;
    /*box-shadow: var(--nav-btn-shadow);*/
}

.nav_button:hover {
    transform: translateY(1px);
    transition: .3s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 4px 4px 16px grey;
}

a.btn, a.nav_button {
    text-decoration: none;
}

.btn {
    text-decoration: none; /* чтобы не подчёркивалось */
}

nav > a {
    font-size: 18px;
}
/* Обычные кнопки */
.btn {
    background: var(--btn-bg);
    color: var(--btn-fg);
    border: 1px solid var(--btn-border);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 14px;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease, transform .1s ease;
}

.btn:hover {
    color: var(--btn-fg-hover); /* ← желтоватый текст */
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.35);
}


/* Эффект при наведении */
.table-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: auto; /* горизонтальный скролл */
    box-shadow: 0 2px 6px rgba(0,0,0,0.25); /* тень */
    margin-bottom: 6px;
}
.my_stick {
    position: sticky;
    padding: 0px 8px 0px 8px;
    color: var(--table-stick-row);
    background-color: var(--table-stick); /*    #d8ecdd;*/
    box-sizing: border-box;
    border: none;
    background: var(--table-header-bg);
    z-index: 3;
    font-weight: bold;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35), /* нижняя */
                inset -1px 0 0 rgba(0, 0, 0, 0.25), /* правая */
                inset 1px 0 0 rgba(0, 0, 0, 0.25); /* левая */
}
.sticky_row {
    box-sizing: border-box;
    position: sticky;
    border: none;
    background: var(--table-header-bg);
    z-index: 5;
    font-weight: bold;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35), /* нижняя */
    inset -1px 0 0 rgba(0, 0, 0, 0.25), /* правая */
    inset 1px 0 0 rgba(0, 0, 0, 0.25); /* левая */
}
table {
    width: auto;
    min-width: 100%;
    /* width: max-content; чтобы работал горизонтальный скролл */
    /*background: var(--table-bg);*/
    border: 1px solid var(--table-border);
    border-radius: 4px;
    font-size: 14px;
    text-shadow: none;
    border-collapse: collapse;
}
/* Подсвечиваем строки на котором стоит курсор*/
table tbody > tr:hover {
    background-color: var(--table-row-hover);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
tbody td, tbody td {
    padding: 8px 12px;
    border: 1px solid var(--table-border); /*   #d3d3d3;*/
}

tr > td {
    border: var(--table-border);
}
tr > th {
    font-size:16px;
}
.clickable-row.selected-row {
    background-color: var(--clickable-row-selected) !important;
    transition: background-color 0.15s ease;
}
tr > td {
    margin-left: 4px;
    padding: 3px 4px;
    font-size: 14px;
    text-align: center;
}
/* Сначала зебра */
tbody:not(.my_stick) tr:nth-child(odd) {
    background-color: var(--tbody-tr-even);
}
/* Потом hover, чтобы он перекрывал всё выше */
tbody:not(.my_stick) tr:hover {
    background-color: var(--tr-hover);
}
/* Потом active-row */
tbody:not(.my_stick) tr.active-row {
    background-color: var(--tr-active-row);
}
.tab-content {
    background-color: var(--tab-background-active);
}
.tab-content.active {
    border-top: var(--tab-content-active-border-top);
    border-right: var(--tab-content-active-border-right);
    border-left: var(--tab-content-active-border-left);
    background-color:var(--tab-background-active); 
    border-radius: 6px;
}
.tab-panel {
    display: none;
}
.tab-panel.active {
    display: block;
}
.tab {
    /*background: var(--tab-background);*/
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.tab.active {
    background-color: var(--tab-background-active);
    border-top: 1px solid #75a6fd;
    border-left: 1px solid #75a6fd;
    border-right: 1px solid #75a6fd;
    font-weight: 600;
    z-index: 1;
    position: relative;
    font-weight: bold;
    border-bottom: none;
}

.tab:hover {
    background: var(--tab-hover-background);
    color: var(--tab-hover-color);
}

button, .button {
    margin: 0px;
    padding: 5px 34px 5px 34px;
    align-items: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: 1px solid lightgray;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    font-weight: 500;
    font-size: 15px;
    font-family: Arial;
    line-height: 1.5;
    border-radius: 5px;
    text-decoration: none;
}

button:hover, .button:hover {
    /*transform: translateY(1px);*/
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 2px 3px grey;
    transition: .1s linear;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    background-color: var(--dropdown-content);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 5;
    overflow: hidden;
}
.dropdown.open .dropdown-content {
    display: block;
}
.dropdown-inner {
    display: inline-block;
    position: relative;
}
.dropdown-content a:hover {
    color: var(--dropdown-content-selected-color);
    background-color: var(--dropdown-content-selected-background);
}
.dropdown-content a {
    color: var(--dropdown-button-color);
    margin: 1px;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    text-align: left;
    text-indent: 0;
    display: block;
    box-sizing: border-box;
    gap: 10px;
    transition: background 0.5s, color 0.8s;
}
.dropdown-content a.selected {
    color: var(--dropdown-content-selected-color);
    background-color: var(--dropdown-content-selected-background);
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
}
.dropdown-content i {
    width: 24px;
    /* text-align: center; */
}
.dropdown-content a.selected::after {
    content: "✔";
    color: green;
    float: right;
    margin-left: 10px;
}
.dropdown-button {
    background-color: var(--dropdown-button-background);
    color: var(--dropdown-button-color);
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    align-items: center;
    gap: 8px;
}
.dropdown.open .caret {
    transform: rotate(180deg) scale(1.4);
    transition: transform 0.2s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.caret {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    transform: scale(1.2);
    transform-origin: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid var(--caret-color);
    height: 0;
    width: 0;
}
.caret.open {
    transform: scale(1.2) rotate(-180deg) translateY(1px);
}
.fas {
    color: var(--caret-color);
    margin-right: 10px;
    z-index: 10;
}
.tiny-btn {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 1px 1px 1px;
    margin: 0;
    line-height: 1;
    background: none;
    color: #333;
    border: 1px solid;
    border-radius: 3px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    margin: 1px 1px;
    padding: 24px 15px 24px 24px;
    text-shadow: none;
    margin: 1px 1px;
    background-color: var(--form-background);
    border: 1px solid rgba(0, 47, 189, 0.15);
    /* padding: 4px 12px 4px 12px; */
}
.irr-form {
    display: grid;
    grid-template-columns: 210px 1fr;
    row-gap: 8px;
    column-gap: 12px;
    align-items: center;
}

.form-row {
    display: contents;
}

    .form-row label {
        text-align: left; /* ← ключевое */
        white-space: nowrap;
    }

    .form-row input,
    .form-row select {
        max-width: 320px;
    }

.form-actions {
    grid-column: 2;
    padding-top: 12px;
}

.input_s, .input_d, .input_s_form {
    padding: 8px;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    width: 260px;
    color: var(--button-color);
    background-color: var(--input-background);
    border: 1px solid rgba(180, 180, 180, 0.1);
    box-shadow: 6px 6px 8px rgba(70, 205, 79, 0.2);
}
thead th {
    box-sizing: border-box;
    border: none;
    background: var(--table-header-bg);
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    white-space: nowrap; /* Тени вместо границ */
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25), /* нижняя */
                inset -1px 0 0 rgba(0, 0, 0, 0.25); /* правая */
                /*inset 1px 0 0 rgba(0, 0, 0, 0.25);  левая */
}
/*Меняем алгоритм расчета длины и 
высоты элемента с контента (width), 
значения отступов (margin), 
полей (padding) и границ (border) 
на размеры блока. В секции  main.css это не работает!!! */
*, *:after, *:before {
    box-sizing: border-box;
}
.scroll-x-y {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}
/* Стили для скролла */
.scroll-x-y::-webkit-scrollbar {
    height: 8px; /* горизонтальный */
    width: 4px; /* вертикальный */
 }
/* Цвет ползунка */
.scroll-x-y::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 3px;
}
/* Цвет дорожки по которой бегает ползунок */
.scroll-x-y::-webkit-scrollbar-track {
    border: var(--table-border);
 /*   background: var(--scroll-bar-track);*/
}

.filter-head {
    display: flex;
    padding: 2px;
    gap: 12px;
    align-items: center;
    font-size: 16px; 
    font-weight: bold;
}

.image-upload {
    display: flex;
    width: 36px;
    height: 30px;
}

.img-logo {
    width: 28px;
    height: 27px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.img-style {
    border-radius: 18px;
    margin: 2px 2px;
    vertical-align: middle;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px 5px 8px rgba(70, 205, 79, 0.4);
}

.img-style:hover {
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 5px -5px 8px rgba(70, 205, 79, 0.4);
}

.ok, .cancel {
    width: 40px;
    height: 36px;
    border-radius: 32px;
    margin: 0px 6px;
    vertical-align: middle;
    border-radius: 5px;
}

.ok {
    padding: 3px 4px 3px 4px;
}

.cancel {
    padding: 0px 1px 1px 0px;
}
.has-helper {
    position: relative;
}

.help-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.has-helper:hover .help-icon {
    opacity: 1;
}
.file-list {
    margin: 6px 0px;
    padding-left: 0;
    list-style-position: inside;
}
.hidden {
    visibility: hidden;
}
input[type="month"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}
/* Общий стиль для обоих select */
#region-select,
#district-select {
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #00a000 #e8e8e8; /* Firefox */
}

/* WebKit (Chrome, Edge, Safari) */
#region-select::-webkit-scrollbar,
#district-select::-webkit-scrollbar {
    width: 4px;
}

#region-select::-webkit-scrollbar-track,
#district-select::-webkit-scrollbar-track {
    background: #e8e8e8;
    border-radius: 2px;
}

#region-select::-webkit-scrollbar-thumb,
#district-select::-webkit-scrollbar-thumb {
    background: #00a000; /* зелёный бегунок */
    border-radius: 2px;
    transition: background 0.2s ease;
}

#region-select::-webkit-scrollbar-thumb:hover,
#district-select::-webkit-scrollbar-thumb:hover {
    background: #008800; /* чуть темнее при наведении */
}
