<form class="irr-form"
      method="POST"
      action="/radio/form"
      style="grid-template-columns: 360px 1fr;" enctype="multipart/form-data">

    {% if prot_num %}
    <div class="form-row">
        <label for="prot_num">{{ res_value('PROTOCOL_NUM') }}</label>
        <input id="event_date" style="font-size: 16px; background: inherit; border:none" type="text" name="prot_num" value="{{ prot_num }}" readonly>
    </div>
    {% endif %}

    <div class="form-row">
        <label for="event_date">{{ res_value('EVENT_DATE') }}</label>
        <input id="event_date" class="input_d" style="max-width: 132px" type="date" name="event_date" value="{{ event_date.strftime('%Y-%m-%d') if event_date else '' }}" required>
    </div>

    <div class="form-row">
        <label for="region-select">{{ res_value('SELECT_REGION') }}</label>
        <select id="region-select" class="input_s" style="min-width: 274px" name="rfbn_id" value="{{ rfbn_id }}" required>
            {% for code, region in regions.items() %}
            <option value="{{ code[:2] }}"
                {% if rfbn_id and code[:2] in rfbn_id %}selected{% endif %}>
                {{ region.legacy_name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-row">
        <label for="channel_name" style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">{{ res_value('CHANNEL_NAME') }}</label>
        <input id="channel_name" class="input_s" type="text" name="channel_name" style="min-width: 480px" value="{{ channel_name }}" required>
    </div>

    <div class="form-row">
        <label for="speaker">{{ res_value('SPEAKER') }}</label>
        <input id="speaker" class="input_s" type="text" name="speaker" style="min-width: 480px" value="{{ speaker}}" required>
    </div>

    <div class="form-row">
        <label for="description" style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">{{ res_value('DESCRIPTION_RADIO') }}</label>
        <input id="description" class="input_s" type="text" name="description" style="min-width: 880px" value="{{ description }}">
    </div>

    <div class="form-row form-actions">
        <button type="submit" style="justify-self: center; width: auto; padding: 8px 32px; margin-top: 10px">{{ res_value('BUTTON_SAVE') }}</button>
        <span class="save-message" style="white-space: pre-line; padding: 0px; margin: 0px; font-weight: bold; font-size: 16px; line-height: 0.8; color: green">{{ message }}</span>
    </div>

</form>