{% extends 'base.html' %}

{% block title %}
{{ res_value('INFO_OPEN_DOOR') }}
{% endblock %}

{% block main_title %}
<div id="tab-panel" class="tabs" data-zone="tabs" data-zone-name="open_door">

    <a href="{{ url_for('open_door_form') }}"
       class="button tab {% if active_tab == 'form' %}active{% endif %}">
        {{ res_value('INFO_OPEN_DOOR') }}
    </a>

    <a href="{{ url_for('open_door_protocol') }}"
       class="button tab {% if active_tab == 'protocol' %}active{% endif %}">
        {{ res_value('INFO_PROTOCOL') }}
    </a>
</div>
{% endblock %}

{% block body %}
<div id="contentTab" class="scroll-x-y" style="overflow: auto; height: 100%; width: 100%">
    {% if active_tab == 'form' %}
    {% include 'open_door/form_open_door_content.html' %}
    {% elif active_tab == 'protocol' %}
    {% include 'open_door/protocol_open_door_content.html' %}
    <script type="module" data-page="openDoorPage" src="/static/js/pages/open_door/open_door.js"></script>
    {% endif %}
</div>
{% endblock %}