{% extends 'base.html' %}

{% block title %}
{{ res_value('INFO_PRINT_SMI') }}
{% endblock %}

{% block main_title %}
<div id="tab-panel" class="tabs" data-zone="tabs" data-zone-name="print_smi">

    <a href="{{ url_for('print_smi_form') }}"
       class="button tab {% if active_tab == 'form' %}active{% endif %}">
        {{ res_value('INFO_PRINT_SMI') }}
    </a>

    <a href="{{ url_for('print_smi_protocol') }}"
       class="button tab {% if active_tab == 'protocol' %}active{% endif %}">
        {{ res_value('INFO_PROTOCOL') }}
    </a>
</div>
{% endblock %}

{% block body %}
<div id="contentTab" class="scroll-x-y" style="overflow: auto; height: 100%; width: 100%">
    {% if active_tab == 'form' %}
    {% include 'print_smi/form_print_smi_content.html' %}
    {% elif active_tab == 'protocol' %}
    {% include 'print_smi/protocol_print_smi_content.html' %}
    <script type="module" data-page="printSmiPage" src="/static/js/pages/print_smi/print_smi.js"></script>
    {% endif %}
</div>
{% endblock %}